@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 95%;
    margin: auto;
}

/* ======= Containers ======*/

section {
    box-shadow: 0px 0px 40px -9px rgb(10 58 178 / 29%);
    border-radius: 1rem;
    background-color: #f7f7f7;
    border: 2px solid #d5d5d5;
    max-width: 700px;
    margin: 4rem auto;
    font-size: 1.2rem;
}

.user-input {
    margin-top: 6rem;
}

.input-inner-container {
    padding: 0.3rem 1.5rem;
}

.output-inner-container {
    padding: 1.25rem;
    min-height: 12.5rem;
}

/* ====== User input section */

.user-input h1 {
    color: white;
    text-align: center;
    background-color: #0057b0;
    border-radius: 1rem 1rem 0 0;
    padding: 0.8rem 0 0.94rem 0;
    outline: 2px solid #0057b0;
    font-size: 1.4rem;
    background-image: linear-gradient(#0070C9, #024991);
}

.user-input h2 {
    font-size: 1.1rem;
    text-align: center;
    margin: 2rem 0 1.1rem 0;
}

.user-input p {
    font-size: 1rem;
    margin: 1.5rem 0 1rem 0;
}

.container-btns {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
}

.calculate-btn {
    min-width: 100px;
    padding: 0.5rem;
    background: #0057b0;
    color: white;
    border: none;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    background-image: linear-gradient(#0070C9, #004081);
}

.calculate-btn:hover {
    box-shadow: 0 0 10px 0 #6d89a9c9;
    background-color: #114b92;
}

.clear-btn {
    padding: 0.5rem;
    margin: 0 2.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.3rem;
    background: rgb(203,203,203);
    background: linear-gradient(180deg, rgba(203,203,203,1) 0%, rgba(197,197,197,1) 34%, rgba(126,126,126,1) 100%);
}

.clear-btn:hover {
    box-shadow: 0 0 10px 0 #6d89a95e;
}

.second-input {
    display: grid;
    margin: 40px 0;
}

.input-value {
    margin: auto;
    width: 100px;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    font-size: 1.25rem;
    text-align: center;
    border: 2px solid #c0c4e0;
    background-color: white;
    color: #2b2f37;
}

.input-value:focus-visible {
    outline-color: rgb(116, 116, 214);
}


/* ===== Solutions sections */

.solution-text {
    text-align: center;
    min-height: 2.5rem;
}

.output-inner-container h2 {
    font-size: 1.25rem;
    color: #0849a5;
    margin-bottom: 1.3rem;
}


/* ======== Mobile devices ======= */

@media only screen and (max-width: 780px) {
.user-input {
    margin-top: 3rem;
}
h1 {
    font-size: 1.25rem;
}
.output-inner-container {
    padding: 0.6rem;
}

.input-inner-container {
    padding: 0.3rem 0.6rem;
}
}